
 /* media */
@media screen and (min-width: 600px) and (min-height: 600px) {
    .modal .modal-content .modal-title {
        font-size: 1.5rem;
    }
    .modal .modal-content,
    .modal .modal-content input,
    .modal .modal-content span,
    .modal .modal-content button {
        font-size: 1.25rem;
    }
    .modal .modal-content button {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-left: 1.5rem;
    }
}
@media screen and (min-width: 700px) and (min-height: 700px) {
    .modal .modal-content .modal-title {
        font-size: 2rem;
    }
    .modal .modal-content,
    .modal .modal-content input,
    .modal .modal-content span,
    .modal .modal-content button {
        font-size: 1.5rem;
    }
    .modal .modal-content button {
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 2rem;
    }
}
@media screen and (min-width: 800px) and (min-height: 800px) {
    .modal .modal-content .modal-title {
        font-size: 2.5rem;
    }
    .modal .modal-content,
    .modal .modal-content input,
    .modal .modal-content span,
    .modal .modal-content button {
        font-size: 2rem;
    }
    .modal .modal-content button {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-left: 2.5rem;
    }
}
@media screen and (min-width: 900px) and (min-height: 900px) {
    .modal .modal-content .modal-title {
        font-size: 3rem;
    }
    .modal .modal-content,
    .modal .modal-content input,
    .modal .modal-content span,
    .modal .modal-content button {
        font-size: 2.5rem;
    }
    .modal .modal-content button {
        padding-left: 3rem;
        padding-right: 3rem;
        margin-left: 3rem;
    }
}
@media screen and (min-width: 1000px) and (min-height: 1000px) {
    .modal .modal-content .modal-title {
        font-size: 4rem;
    }
    .modal .modal-content,
    .modal .modal-content input,
    .modal .modal-content span,
    .modal .modal-content button {
        font-size: 3rem;
    }
    .modal .modal-content button {
        padding-left: 4rem;
        padding-right: 4rem;
        margin-left: 4rem;
    }
}
