
.unit-container {
    position: absolute;
}

.unit-inner {
    position: relative;
    height: 0;
    padding-top: 100%
}

.unit-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.unit-content button {
    font-size: 5vw;
    font-family: "Sporedom", sans-serif;
}

/* media */
@media screen and (max-width: 575px) {
    .unit-content button {
        font-size: 10vw;
    }
}
@media screen and (min-width: 576px) {
    .unit-content button {
        font-size: 7vw;
    }
}
@media screen and (min-width: 768px) {
    .unit-content button {
        font-size: 6vw;
    }
}
@media screen and (min-width: 1200px) {
    .unit-content button {
        font-size: 4vw;
    }
}

/* fonts */
@font-face {
    font-family: Sporedom;
    src: url(../fonts/Sporedom.ttf);
}
