
.unit-container {
    position: absolute;
}

.unit-inner {
    position: relative;
    height: 0;
    padding-top: 100%
}

.unit-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.unit-content button {
    font-size: 1rem;
}

 /* media */
@media screen and (min-width: 250px) and (min-height: 250px) {
    .unit-content button {
        font-size: 1.25rem;
    }
}
@media screen and (min-width: 300px) and (min-height: 300px) {
    .unit-content button {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 350px) and (min-height: 350px) {
    .unit-content button {
        font-size: 2rem;
    }
}
@media screen and (min-width: 400px) and (min-height: 400px) {
    .unit-content button {
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 500px) and (min-height: 500px) {
    .unit-content button {
        font-size: 3rem;
    }
}
@media screen and (min-width: 600px) and (min-height: 600px) {
    .unit-content button {
        font-size: 4rem;
    }
}
@media screen and (min-width: 700px) and (min-height: 700px) {
    .unit-content button {
        font-size: 5rem;
    }
}
@media screen and (min-width: 800px) and (min-height: 800px) {
    .unit-content button {
        font-size: 6rem;
    }
}
@media screen and (min-width: 900px) and (min-height: 900px) {
    .unit-content button {
        font-size: 7rem;
    }
}
@media screen and (min-width: 1000px) and (min-height: 1000px) {
    .unit-content button {
        font-size: 8rem;
    }
}
